# Dependencies
# numpy
# requests

# Core
streamlit== 0.82.0

# Utils
openai
transformers
keybert
plotly

tensorflow-cpu==2.5.0
tensorboard==2.10.1
keras == 2.4.2
pillow==8.2.0
causalimpact
# fbprophet
torch
# pystan==2.19.1.1
